**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
IA-82/5/lab_4/Laba4K/src/conf/MANIFEST.MF
IA-82/5/lab_4/Laba4K/nbproject/project.xml
IA-82/5/lab_4/Laba4K/nbproject/project.properties
IA-82/5/lab_4/Laba4K/nbproject/genfiles.properties
IA-82/5/lab_4/Laba4K/nbproject/build-impl.xml
IA-82/5/lab_4/Laba4K/nbproject/ant-deploy.xml
IA-82/5/lab_4/Laba4K/web/WEB-INF/web.xml
IA-82/5/lab_4/Laba4K/build.xml
IA-82/5/lab_6/Lab66/src/conf/MANIFEST.MF
IA-82/5/lab_6/Lab66/nbproject/project.xml
IA-82/5/lab_6/Lab66/nbproject/project.properties
IA-82/5/lab_6/Lab66/nbproject/genfiles.properties
IA-82/5/lab_6/Lab66/nbproject/build-impl.xml
IA-82/5/lab_6/Lab66/nbproject/ant-deploy.xml
IA-82/5/lab_6/Lab66/build.xml
IA-82/5/lab_5/Lab5K/src/conf/MANIFEST.MF
IA-82/5/lab_5/Lab5K/nbproject/project.properties
IA-82/5/lab_5/Lab5K/nbproject/build-impl.xml
IA-82/5/lab_5/Lab5K/build.xml
IA-82/5/lab_5/Lab5K/nbproject/ant-deploy.xml
IA-82/5/lab_5/Lab5K/nbproject/project.xml
IA-82/5/lab_5/Lab5K/nbproject/genfiles.properties
IA-82/5/lab_5/Lab5K/web/WEB-INF/web.xml
